.passwords {
    margin-top: 15px;
    padding: 25px;
    padding-left: 15px;
}
.cp-label{
    font-size: 16px;
    font-weight: 500;
    color: #323546;
}
/* .new-p-row{
    margin-right: 200px;
} */
.iconColor{
    color: var(--textColor);
}
.pass{
    border-right: 0 !important;
}
