.forgot-head{
    font-size: 35px;
    font-weight: 700;
    color: var(--primary-color);
    margin-left: -20px;
    margin-right: 140px;
}
.para{
    font-weight: 500;
    font-size: 20px;
}
.label {
    font-weight: 700;
    font-size: 15px;
}
@media screen and (max-width:875px) {
    .forgot-head{
        font-size: 22px;
        font-weight: 700;
        color: var(--primary-color);
        margin-left: -20px;
        margin-right: 140px;
    }
}
.forgot{
    color: rgba(4, 4, 241, 0.884);
    font-weight: 500;
    cursor:pointer;
    font-size: small;
    text-decoration: underline;
  }
